.navbar-inverse {
  background-color: #15445E;
}

.navbar-inverse, 
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand img,
.navbar-nav, .navbar-nav>li, 
.navbar-nav>li>a{
  height: 70px !important;
}

.navbar-inverse .navbar-brand, 
.navbar-nav>li>a {
  line-height: 40px;
  cursor: pointer;
}

.navbar-inverse .navbar-brand {
  padding: 0;
}

.navbar-toggle {
  margin-top: 15px;
}

.navbar-inverse .navbar-form {
  height: 53px;
}

.navbar-form .input-group {
  margin-top: 7px;
}

.navbar-form input {
  height: 43px;
}

.navbar-form button {
  height: 43px;
  margin-top: 7px;
  line-height: 1;
}

.btn-primary {
  background-color: rgb(6, 32, 46);
}