body {
  padding-top: 71px;
}
@media (max-width: 979px) {
    body {
      padding-top: 0;
    }
  }

/* .body-bg {
  background-image: url("../img/datacenter1.jpg");
  background-size: cover;
} */

.access {
  padding-top: 5px;
}

.evaluate {
  margin-top: 20px;
}

.evaluate .star-class {
  color: orange;
  font-size: 20px;
  cursor: pointer;
}

.evaluate .star-disable {
  pointer-events: none;
}