<div class="page-wrapper" style="height:auto;">
  <div class="container evaluate" style="padding-top:100px; background: #ffffff;">

    <!-- This is faculty and course ddl row -->
    <div class="row" style="margin-bottom:30px">
      <div class="col-lg-4">
        <div class="form-group">
          <label>Select Faculty</label>
          <select class="form-control" ng-model="faculty" ng-change="changeFaculty()" ng-options="f.FACULTY_ID as (f.F_FIRST_NAME + ' ' + f.F_LAST_NAME) for f in faculties">
            <option value="">Please select faculty</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label>Select Course</label>
          <select class="form-control" ng-show="courses.length > 0" ng-model="course" ng-change="changeCourse()" ng-options="c.COURSE_ID as c.COURSE_NAME for c in courses">
          </select>
          <input class="form-control" type="text" disabled value="No courses" ng-show="courses.length==0">
        </div>
      </div>
    </div>

    <!-- This is the topic table with ratings -->
    <div class="row">
      <div class="col-lg-8">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <th style="width:5%"></th>
            <th>Topic Name</th>
            <th>Topic Rating</th>
          </thead>
          <tbody>
            <tr ng-repeat="topic in topics" ng-show="topics.length > 0">
              <td>

                <label class="radio-container">
                  <input type="radio" name="radio" ng-click="changeTopic(topic)" ng-checked={{topic.checked}}>
                  <span class="checkmark"></span>
                </label>
              </td>
              <td style="text-transform: capitalize">{{topic.TOPIC_NAME}}</td>
              <td>
                <span class="star-class glyphicon"
                      ng-repeat="x in [1,2,3,4,5,6,7,8,9,10]" 
                      ng-mouseover="topic.hoverRating = x"
                      ng-click="topic.rating = x"
                      ng-class="getClassNames(topic, x)">
                </span>
              </td>
            </tr>
            <tr ng-show="topics.length == 0">
              <td colspan="3" style="text-align: center;">No topics</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
      <div class="col-lg-8" style="text-align: right;">
        <div style="text-align: left;" ng-show="alerts.length > 0" ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissible">
          <a href="" class="close" aria-label="close" ng-click="closeAlert($index)">&times;</a>
          <strong>{{alert.scream | uppercase}}!</strong> {{alert.message}}
        </div>
        <button class="btn btn-primary" ng-click="submit()">Submit</button>
      </div>
    </div>

  </div>
</div>